

body{
	background: #ffff;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
}

#header>h1{
	background-color:#5D8AA8;
	padding-bottom: 65px;
	margin: 0px;
}
	

.Logo{
	margin-top: 25px;
	position: relative; left:70px;
	
}

nav{
    width: 100%;
    height: 80px;
    
    padding-bottom: 100px;
    overflow: auto;
	position: absolute; bottom: 700px;
	position: absolute; left: 800px;

    
}
nav ul{
    float: left;
    margin-left:1em;
    
}
.nav.left{
    float:left;
    margin-left:1em;
}
ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    
}

ul li a{
    color: black;;
    font-size: 18px;
    padding: 0px 20px;
    line-height: 30px;
    display: block;
    
}
.hero{
    
    padding-block: var(--section-padding);

}
.hero-content{
    margin-bottom: 60px;

}
.hero-subtitle span{
    display:flex ;
    
    align-items: center;
    position: relative; left:15px;
    position:relative;bottom:20px;
    font-size: 14px;
    font-weight: var(--fa-700);
}
.hero-subtitle i{
    color: #5D8AA8;

}
.coName{
    position: relative; left:175px;
    position:relative;bottom:90px;
}
.container{
    
    
    height:40%;
    width: 40%;
    background: transparent;
    
    overflow-x: hidden !important;
    
}
.swiper{
    
    
    
    
    padding:25px 0;
    margin:auto;
    
    

}
.swiper.swiper-slide{
   width:200px;
   height:200px;
}


   



.swiper-slide img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width:60%;
    height:fit-content

}
.animation{
    position:relative; left: 1300px;
    position: relative; bottom:650px;
    
   
}
.animation span{
    text-transform: uppercase;
    display: block;
}   

.text1{
    padding: 25px;
    font-size:25px;
    font-weight: 700;
    text-align: right;
    position: relative; left:-1350px;
    animation:text 3s 1;

}
.text2{
    font-size:25px;
    font-weight:700;
    text-align: right;
    position: relative; left:-1550px;
    padding: 50px;
    
}
.text3{
    font-size:25px;
    font-weight:700;
    text-align: right;
    padding: 50px;
    position: relative; left:-1585px;
}
.text4{
    font-size:25px;
    font-weight:700;
    text-align: right;
    padding:50px;
    position: relative; left: -1590px;
}
@keyframes text {
    0%{
        margin-bottom: -40px;

    }
    30%{
        letter-spacing: 25px;
    }
}    

    

